# file options

--swiftversion 5.0
--exclude .build
--exclude UseCases/.build
--exclude Tests/LinuxMain.swift
--exclude **/*Tests+XCTest.swift

# format options

--ifdef no-indent
--patternlet inline
--self insert
--stripunusedargs closure-only
--wraparguments before-first

# rules

--disable blankLinesAroundMark
