version: "3"

services:

  runtime-setup:
    image: swift-distributed-tracing:22.04-5.9
    build:
      args:
        ubuntu_version: "jammy"
        swift_version: "5.9"

  test:
    image: swift-distributed-tracing:22.04-5.9
    environment:
      - FORCE_TEST_DISCOVERY=--enable-test-discovery
      # - STRICT_CONCURRENCY_ARG=-Xswiftc -strict-concurrency=complete

  shell:
    image: swift-distributed-tracing:22.04-5.9
